:root {
    --first-color: #FFA500;
    --dark-mode: #444;
    --dark-body: #1e1e1e;
    --second-color: #FFFFFF;
    --fond-gris: #ddd;
    --font: "Open Sans",
        sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.dark-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}



/* ! ----- LOGO + TITRE ----- */
.logo-title {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.letter {
    font-size: 30px;
    color: var(--second-colo);
    font-weight: bold;
}

.title {
    font-size: 30px;
    color: var(--first-color);
    margin: 0;
    font-weight: bold;
}


.menu-toggle {
    display: none;
    background-color: var(--second-colo);
    color: var(--dark-body);
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 20%;
    padding: 10px;
}


/* ! ----- NAV  ----- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: wrap;
    background-color: var(--second-colo);
    border-bottom: 1px solid var(--second-color);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-links li {
    display: flex;
    align-items: center;
}


.nav-links a {
    text-decoration: none;
    color: var(--dark-body);
    font-size: 30px;
    font-family: var(--font);
}

.nav-links a:hover {
    color: var(--first-color);
    background-color: #ccc;
    border-radius: 15px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: var(--font);
}


/* ! ----- RECETTES  ----- */

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* ← ici le 4 */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    font-family: var(--font);
}




.card {
    width: 350px;
    background-color: var(--second-colo);
    border-radius: 15px;
    box-shadow: 0 2px 5px var(--dark-body);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-container {
    position: relative;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card-content {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.card-content p {
    padding: 0.4em 0.8em;
    border-radius: 999px;
    color: var(--second-colo);
    font-weight: 500;
    font-size: 0.9rem;
}

/* ! ----- couleur   ----- */

.type {
    background-color: var(--first-color);
    font-family: var(--font);

}

.duration {
    background-color: #2ecc71;
    font-family: var(--font);
}

.difficulty {
    background-color: #3498db;
    font-family: var(--font);
}

.btn {
    background-color: var(--first-color);
    border-radius: 999px;
    color: var(--second-colo);
    cursor: pointer;
    border: 1px solid #333;
    font-size: 18px;
    font-family: var(--font);
}

.btn:hover {
    color: or;
    background-color: var(--dark-body);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! ----- SEARCH  ----- */

.search-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    gap: 10px;
    border-radius: 15px;
}

p {
    text-decoration: none;
    font-size: 15px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 95%;
    border: 1px solid var(--fond-gris);
    border-radius: 5px;
    font-family: var(--font);
}

.search-button {
    background-color: var(--first-color);
    color: var(--second-colo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font);
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--fond-gris);
    border-radius: 5px;
    width: 250px;

}

.general {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--second-color);
    border-radius: 15px;
    font-family: var(--font);
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
    justify-content: center;
}






/* ! footer /*/
.aside {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--dark-body);
}

*/ .footer-column {
    flex: 1;
}

h3 {
    text-decoration: none;
    font-size: 15px;
    margin-right: 190px;
}

.footer-column h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--first-color);
    text-shadow: 1px 1px 1px var(--dark-body);
    margin-left: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    display: inline-block;
    padding: 4px 0;
    margin-left: 100px;
}

p {
    text-decoration: none;
    font-size: 15px;
}

.footer {
    background-color: var(--second-colo);
    color: var(--dark-body);
    border: 1px solid var(--fond-gris);
    padding: 1rem;
}

/*! Responsive Design mobile */

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dark-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        /* Reste à droite */
        z-index: 10;
    }


    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        position: absolute;
        top: 20px;
        right: 70px;
        z-index: 10;
    }

    .logo-title {
        flex: 1;
    }

    .nav-links a {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .menu-toggle {
        display: block;
    }

    .search-container {
        flex-direction: column;
        align-items: stretch;
        margin-top: 10px;
        margin-left: 0;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }

    .filter-container {
        flex-direction: column;
        align-items: center;
    }

    .filter-group {
        width: 100%;
        max-width: 400px;
    }

    .main-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: 90%;
        max-width: 350px;
    }

    .footer {
        font-size: 14px;
        padding: 0.8rem;
    }
}

/*! Responsive Design Tablette  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dark-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        position: absolute;
        top: 20px;
        right: 70px;
        z-index: 10;
        display: block;
    }

    .logo-title {
        flex: 1;
    }

    .nav-links a {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .search-container {
        flex-direction: column;
        align-items: stretch;
        margin-top: 60px;
        margin-left: 0;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }



    .filter-container {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }


    .filter-group {
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;

    }

    .filter-group>p {
        width: 100%;
        margin: 0;
        font-weight: bold;

    }



    .filter-group label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
        width: auto;

    }


    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
        box-sizing: border-box;
    }

    .footer {
        font-size: 14px;
        padding: 0.8rem;
    }
}

/*! DARK MODE */

body.dark-mode .dark-toggle {
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

body.dark-mode nav {
    background-color: var(--dark-body);
    border-radius: 15px;
    padding: 20px 10px;
}

body.dark-mode .nav-links {
    background-color: var(--dark-body);
    color: var(--second-colo);
    padding: 10px 10px;
    font-family: var(--font);
    /* font-size: 5px; */
    margin: 0;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .nav-links a {
    color: var(--second-colo);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 15px;
    transition: background-color 0.2s ease;
    color: var(--second-color);
}

body.dark-mode h1 {
    color: var(--second-color);
    font-family: var(--font);

}

body.dark-mode .nav-links a:hover {
    background-color: var(--first-color);
}

body.dark-mode .logo-title {
    background-color: var(--dark-body);
    color: var(--second-colo);
}

body.dark-mode .logo {
    background-color: var(--first-color);
    color: var(--second-colo);
}

body.dark-mode .general {
    background-color: var(--dark-body);
    color: var(--second-color);
    border: 1px solid var(--dark-mode);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


body.dark-mode .card {
    background-color: var(--dark-mode);
    color: var(--second-colo);
    border: 1px solid var(--second-color);

}

body.dark-mode #cards-container {
    color: var(--second-color);
}

body.dark-mode .btn:hover {
    background-color: var (var(--dark-body));
}

body.dark-mode .main-content {
    background-color: var(--dark-body);
    border-radius: 15px;
}

body.dark-mode .footer-content {
    background-color: var(--dark-body);
    color: var(--second-color);
    ;
    border-radius: 15px;
}

body.dark-mode .footer-content a {
    color: var(--second-color);
    ;
}



body.dark-mode .footer {
    background-color: var(--dark-body);
    color: var(--second-color);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--dark-mode);
    border-radius: 15px;
}

body.dark-mode {
    background-color: var(--dark-body);
}

/*!  Barre de recherche  dark mode*/

body.dark-mode .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--dark-body);
    border-radius: 8px;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}

*/ body.dark-mode .search-input {
    /* padding: 15px 50px; */
    font-size: 16px;
    background-color: var(--dark-mode);
    border: 1px solid #555;
    border-radius: 8px 0 0 8px;
    width: 300px;
    max-width: 80%;
    */ z-index: 10;
    position: relative;
}

body.dark-mode .search-button {
    padding: 10px 15px;
    background-color: var(--first-color);
    border: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

body.dark-mode .search-button:hover {
    background-color: var(--first-color);
}

/*! Filtres */

body.dark-mode .filter-group {
    background-color: #333;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;

}

body.dark-mode .filter-group p {
    color: var(--second-colo);
    font-weight: bold;
    margin-bottom: 10px;

}


body.dark-mode .filter-group label {
    color: var(--second-colo);
    font-size: 16px;
    cursor: pointer;
}

body.dark-mode input[type="checkbox"] {
    accent-color: var(--first-color);

}